@using  PruebaUnoAgioGlobal.Web.ModelsViews;
@using PruebaUnoAgioGlobal.Web.Enum;
@model FileUploadViewModel
@{
    ViewData["Title"] = "File Reader";
}

<h2>Reads New File</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="UploadFile" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FileType" class="control-label">File type</label><br />
                <select asp-for="FileType" asp-items="@Model.FileTypes" style="width:100%">
                    <option>Select file type</option>
                </select>
                <span asp-validation-for="FileType" class="text-danger"></span>
            </div>
            <div id="userRoleDiv" class="form-group" style="display:none">
                <label asp-for="UserRole" class="control-label">User Role</label><br />
                <select asp-for="UserRole" asp-items="@Model.UserRoles" style="width:100%">
                    <option>Select role</option>
                </select>
                <span asp-validation-for="FileType" class="text-danger"></span>
            </div>            
            <div class="form-group" style="padding-top: 15px;">
                <label asp-for="AttachedFile" class="control-label">File to Upload</label>
                <input asp-for="AttachedFile" type="file" class="control-label" disabled="disabled" />
                <span asp-validation-for="AttachedFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="savebutton" type="submit" value="Save" class="btn btn-success" disabled="disabled" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(function () {

            $('#FileType').change(function () {

                $('#userRoleDiv').attr('style', 'display:none')
                $('#AttachedFile').prop("disabled", "");

                if ($('#FileType').val() == "@(((int)FileTypesEnums.FileType.TEXT_FILE).ToString())" || 
                    $('#FileType').val() == "@(((int)FileTypesEnums.FileType.ENCRIPTED_TEXT_FILE).ToString())") {

                    $('#AttachedFile').attr('accept', 'text/plain');

                } else if ($('#FileType').val() == "@(((int)FileTypesEnums.FileType.XML_FILE).ToString())" ||
                           $('#FileType').val() == "@(((int)FileTypesEnums.FileType.ENCRIPTED_XML_FILE).ToString())") {

                    $('#userRoleDiv').attr('style', 'display:block')
                    $('#AttachedFile').attr('accept', 'text/xml');                
                }
                else { 

                    $('#AttachedFile').prop("disabled", "disabled");

                }
            });

            $('#AttachedFile').change(function () {

                $('#savebutton').prop("disabled", "");
            });
        });
    </script>
}
